{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Fiche Description </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>
   <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!--<script src="{% static "js/jquery.min.js" %}"/></script>-->
  <script src="{% static "js/url_get.js" %}"/></script>	
<script src="https://d3js.org/d3.v4.min.js"></script>  
</head>
<body>



</body>


<script src="{% static "js/initial.js" %}"/></script>
<script src="{% static "js/dg.js" %}"></script>
<script src="{% static "js/list_project.js" %}"/></script>
<script src="{% static "js/list_project_affichage.js" %}"/></script>


</html>
