{% load staticfiles %}
    <!DOCTYPE html>
    <meta charset="utf-8">
    <head>
    <link rel="stylesheet" type="text/css" href="{% static "css/barchart.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/table_index1.css" %}"/>
    <link rel="stylesheet" href="{% static "/all.css" %"} integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134934175-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-134934175-1');
</script>


    </head>
    <body>
    <div id='headmain'>
    <div id='headmain_banner'>
    <div class='hedclean'>
    <img src="{% static "img/ips2.jpg" %}" />  <!-- Images -->
    </div>
    <div class='hedclean'>
    <img src="{% static "img/catdb_logo.png" %}" />  <!-- Images -->
    </div>
    <div class='hedclean'>
    <img src="{% static "img/GEM2NET_logo5_transpa.png" %}" />  <!-- Images -->
    </div>
    
    </div>
    <div id='headmain_schear'>
    </div>
    </div>
    <nav class="navbar">
    <a class="navbar_brand">
        <span class="fa fa-anchor" style="color: #1f8dd6;"></span>
    </a>
    <div class="element">
        <div class="row">
            <div class="col navbar-nav">
                <a class="nav-item nav-link active" href="http://jacob.ips2.u-psud.fr:8080/CATdb/index?1">1</a>
                <a class="nav-item nav-link" href="http://jacob.ips2.u-psud.fr:8080/CATdb/index?2">2</a>
                <a class="nav-item nav-link" href="http://jacob.ips2.u-psud.fr:8080/CATdb/index?3">3</a>
                <a class="nav-item nav-link" href="http://jacob.ips2.u-psud.fr:8080/CATdb/index?4">4</a>
                <a class="nav-item nav-link" href="http://jacob.ips2.u-psud.fr:8080/CATdb/index?5">5</a>
            </div>
        </div>
    <div>
</div></div></nav>
    <div id='contener'>
    
    <div class='row_element'> <div class="table" id="results"> </div> </div>
    <div class='row_element'> <div id="svg1"></div> </div>
    <div class='row_element'> <div class="table" id="results2"> </div> </div>
    <div class='row_element'> <div id="svg2"></div> </div>

    </div>
    <div id='contener2'>
    <div class='row_element'> <div class="table" id="results3"> </div> </div>
    <div class='row_element'> <div id="svg3"></div> </div>
    </div>
    </div>
		<div id="foot">
         <img src="{% static "img/logoInra3.png" %}" alt="Picture of Test" />  <!-- Images -->
         <img src="{% static "img/logoCnrs3.gif" %}" />  <!-- Images CNRS -->
         <img src="{% static "img/logoInapg3.gif" %}" />  <!-- Images AGROP -->
         <img src="{% static "img/logoEvry3.gif" %}" />  <!-- Images AGROP -->         
         
        </div>
         <div id='copyright' style='display:flex;justify-content: space-between;background: #cbcbcb;padding: 2px 2px 2px 2px;margin-top: 5px;'> <p>Copyright  © INRA 2007-2018 	<p>Contact us</p> 	<p>Credits & Legal notice 	Terms of use</p></div>
        </div>
    <div>    
      <script src="https://d3js.org/d3.v5.js"></script>    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    
    <!--  <script src="{% static "js/script_requete.js" %}"/></script>-->
    <script src="{% static "js/tableau_query.js" %}"/></script>
    <script src="{% static "js/bar_search.js" %}"/></script>
    <script src="{% static "js/histograme.js" %}"/></script>  
    <script type="text/javascript">
    
    var currentLocation = window.location;
    try {
    var i=String(window.location).split('?')[1];
    if (typeof(i) == 'undefined') {
    	 var i=1;
    	};
    }
    catch(error) {
      	var i=1;
    	console.error(error);
    };  
    var i=parseInt(i,10)-1;
    var choixe=[['my_req_special','organism_name','organism name'],['my_querySpecies','array_type_name','array type name'],['my_req_recherche1','array_type_name','array type name']];
    
    $('#results').ready(function() {
        var query=choixe[0][0];//'my_req_recherche1';//'my_req_special' 'organism name','organism_name';  #my_querySpecies,array_type_name,array type name
        var x_val=choixe[0][1];//'array_type_name';
        var name_x_val=choixe[0][2];//'array type name';
		
   $.ajax({     type:"GET",
                data:{'data_requete_element':query},
                dataType: "json",
                async: true,
                url:"/CATdb/ajax/chekEmail",
                success: function(data) {
                	//$.each(data, function(index, value){console.log(value);});
                	afficher_table(data,'results',query);
                }
                });
        
   
    if (query!='my_req_recherche1'){
    execucte_affichage('svg1',name_x_val,x_val,query);
    }else{$('#svg1').css('display','None');
    $('#svg1').parent().css('display','None');
    $('.row_element').css('width','100%');
    };   
    });
    $('#results2').ready(function() {
        var query=choixe[1][0];//'my_req_recherche1';//'my_req_special' 'organism name','organism_name';  #my_querySpecies,array_type_name,array type name
        var x_val=choixe[1][1];//'array_type_name';
        var name_x_val=choixe[1][2];//'array type name';
		
   $.ajax({     type:"GET",
                data:{'data_requete_element':query},
                dataType: "json",
                async: true,
                url:"/CATdb/ajax/chekEmail",
                success: function(data) {
                	//$.each(data, function(index, value){console.log(value);});
                	afficher_table(data,'results2',query);
                }
                });
        
   
    if (query!='my_req_recherche1'){
    execucte_affichage('svg2',name_x_val,x_val,query);
    }else{$('#svg2').css('display','None');
    $('#svg2').parent().css('display','None');
    $('.row_element').css('width','100%');
    };   
    });   
    
    </script>
   
    
    
