{% load staticfiles %}
    <!DOCTYPE html>
    <meta charset="utf-8">
    <head>
    
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static "css/table_index.css" %}"/>
    
    <script src="{% static "js/tableau_query.js" %}"/></script>
    
    </head>
    <body>
    

    <div id="contener">
    <div class='row_element'> <div class="table" id="results1"> </div> </div>
    
    <div class='row_element'> <div class="table" id="results2"> </div> </div>
    
    </div>
    
    <script>
    $( document ).ready(function() {
    
		var query='my_req_special';
        $.ajax({
                type:"GET",
                data:{'data_requete_element':query},
                dataType: "json",
                async: true,
                url:"/CATdb/ajax/chekEmail",
                success: function(data) {
                	//$.each(data, function(index, value){console.log(value);});
                	afficher_table(data,'results2',query)
                }
                
                
                });
        
    });
    </script>    
    </body>