{% extends "CATdb/home.html" %}
{% load staticfiles %}
{% block content %}
<script src="{% static "bibliotheque/highgraph/code/highcharts.js" %}"/></script>
<script src="{% static "bibliotheque/highgraph/code/modules/exporting.js" %}"/></script>
<script src="{% static "bibliotheque/highgraph/code/modules/export-data.js" %}"/></script>
<script src="{% static "bibliotheque/highgraph/code/modules/networkgraph.js" %}"/></script>

<div class="comment"> 



</div>



<!-- graph -->
<style>

#container_netw{
/*max-height:600px;*/
}

.graph_comment,.comment_graph{
    border: aquamarine;
    background: #b6a6a6;
    text-align: center;
    border-left: 5px solid #007bff;
    border-right: 5px solid #007bff;
}

table tr:nth-child(2n){
background-color:blue;
}


table tbody {
tr:nth-child(even) {background: #CCC} !important;
tr:nth-child(odd) {background: #FFF} !important;
}
</style>
<div class="graph_comment"> Network of Project Table Graph:</div>
<div id="container_netw"> </div>
<!-- contenu -->


<style>
table tr td div {
text-decoration:underline;
cursor:move;
}

table tr:nth-child(even) td {background: #CCC} !important;
table tr:nth-child(odd) {background: #FFF} !important;
</style>
<div class="comment_graph">  Contenant: </div>

{{tableau|safe}}

{% endblock %}
