{% extends "CATdb/home.html" %}
{% load staticfiles %}
{% block content %}
<script src="{% static "bibliotheque/highgraph/code/highcharts.js" %}"/></script>
<script src="{% static "bibliotheque/highgraph/code/modules/exporting.js" %}"/></script>
<script src="{% static "bibliotheque/highgraph/code/modules/export-data.js" %}"/></script>
<script src="{% static "bibliotheque/highgraph/code/modules/networkgraph.js" %}"/></script>

<div class="comment"> 



</div>



<!-- graph -->
<style>

#container_netw{
/*max-height:600px;*/
}

.graph_comment,.comment_graph{
    border: aquamarine;
    background: #b6a6a6;
    text-align: center;
    border-left: 5px solid #007bff;
    border-right: 5px solid #007bff;
}

table tr:nth-child(2n){
background-color:blue;
}


table tbody {
tr:nth-child(even) {background: #CCC} !important;
tr:nth-child(odd) {background: #FFF} !important;
}
</style>
<div class="graph_comment"> Network of Project Table Graph:</div>
<div id="container_netw"> </div>
<!-- contenu -->


<style>
table tr td div {
text-decoration:underline;
cursor:move;
}

table tr:nth-child(even) td {background: #CCC} !important;
table tr:nth-child(odd) {background: #FFF} !important;
</style>
<div class="comment_graph">  Contenant: </div>

<script>

Highcharts.addEvent(
    Highcharts.seriesTypes.networkgraph,
    'afterSetOptions',
    function (e) {
        var colors = Highcharts.getOptions().colors,
            i = 0,
            nodes = {};
        e.options.data.forEach(function (link) {

            if (link[0] === 'CATDB') {
                nodes['CATDB'] = {
                    id: 'CATDB',
                    marker: {
                        radius: 20
                    }
                };
                nodes[link[1]] = {
                    id: link[1],
                    marker: {
                        radius: 10
                    },
                    color: colors[i++]
                };
            } else if (nodes[link[0]] && nodes[link[0]].color) {
                nodes[link[1]] = {
                    id: link[1],
                    color: nodes[link[0]].color
                };
            }
        });

        e.options.nodes = Object.keys(nodes).map(function (id) {
            return nodes[id];
        });
    }
);


Highcharts.chart('container_netw', {
    chart: {
        type: 'networkgraph',
        height: '100%'
    },
    title: {
        text: 'Total Project Into CATDB'
    },
    subtitle: {
        text: 'Differents Projects into CATDB'
    },
    plotOptions: {
        networkgraph: {
            keys: ['from', 'to'],
            layoutAlgorithm: {
                enableSimulation: true
            }
        }
    },
    series: [{
        dataLabels: {
            enabled: true
        },
        data: [
['CATDB', '55#GNP3_M4-multiplex_PRIVATE'], 
['CATDB', '103#AFFY_Nitrogen_Medicago'], 
['CATDB', '101#AFFY_Bt2_maize'], 
['CATDB', '134#AFFY_fertility2_chicken'], 
['CATDB', '102#AFFY_pathogen_rice'], 
['CATDB', '49#RA04-06_PII'], 
['CATDB', '14#RS03-02_Phospholipases'], 
['CATDB', '43#RA04-07_PGPR'], 
['CATDB', '41#RA05-01_Ethylene'], 
['CATDB', '69#RS05-04_salicylic-acid'], 
['CATDB', '40#RS04-10_Oxydative--stress'], 
['CATDB', '39#RS04-08_NtKis'], 
['CATDB', '38#RS04-09_hahb4'], 
['CATDB', '19#AF51_ATM'], 
['CATDB', '34#RA04-08_Senescence'], 
['CATDB', '0#AF09_lignin'], 
['CATDB', '32#RS04-01_CytC'], 
['CATDB', '36#RA03-05_Clubroot'], 
['CATDB', '30#RS04-06_CDT1'], 
['CATDB', '45#RS05-05_Atrazine'], 
['CATDB', '29#RS04-05_Nickel'], 
['CATDB', '27#RS04-07_Set-1'], 
['CATDB', '42#RA04-03_Nin7'], 
['CATDB', '24#RS04-02_NTR'], 
['CATDB', '17#NO27_Iron_signaling'], 
['CATDB', '16#RA03-07_TOR'], 
['CATDB', '15#AF73_OST2'], 
['CATDB', '85#RA05-11_CMSRapeseed'], 
['CATDB', '46#RA05-03_SGS'], 
['CATDB', '13#AF31_HAF2_GCN5'], 
['CATDB', '12#AF01_Cul3a2_Cul3b'], 
['CATDB', '57#RS05-12_SetII'], 
['CATDB', '3#AF24_CytP450_Cyp98A3'], 
['CATDB', '56#RS05-07_Nucleolin'], 
['CATDB', '60#RA05-02_Erwinia'], 
['CATDB', '58#GNP3-B4_Nitrogen_starvation'], 
['CATDB', '51#RS05-08_NO'], 
['CATDB', '28#RA03-03_Protoplast'], 
['CATDB', '89#RA04-04_NRT2.4'], 
['CATDB', '88#CEA03-02_Translatome-Cd'], 
['CATDB', '77#RS06-01_PLD'], 
['CATDB', '75#ADT06-02_Pollen'], 
['CATDB', '72#ADT03-02_Leaf_Flower-Bud'], 
['CATDB', '67#RA05-05_Procuste'], 
['CATDB', '119#RA06-03_DspA-Erwinia'], 
['CATDB', '10#CEA03-01_Cadmium'], 
['CATDB', '9#AF47_Thioredoxins'], 
['CATDB', '8#AF31_mgoun3'], 
['CATDB', '7#AF30_Starch_circadian_rythm'], 
['CATDB', '6#AF09_HCA'], 
['CATDB', '22#RA04-02_AGO'], 
['CATDB', '23#RS03-01_Onc6b'], 
['CATDB', '5#RA04-01_msil'], 
['CATDB', '4#AF31_TAFhaf2'], 
['CATDB', '25#RA03-02_Potyvirus'], 
['CATDB', '2#AF01_Cul3_a'], 
['CATDB', '107#AU07-01_PLD-SA'], 
['CATDB', '1#RA03-04_Elongation_isoxaben'], 
['CATDB', '21#RA03-06_Seed_endothelium'], 
['CATDB', '20#AF32_Root-Knot_Nematode'], 
['CATDB', '110#AFFY_fertility_chicken'], 
['CATDB', '105#RS07-01_carnitine'], 
['CATDB', '104#RA05-12_NAR2'], 
['CATDB', '73#AU05-02_FWA'], 
['CATDB', '78#RA05-07_Stifenia'], 
['CATDB', '97#CEA06-01_Uranyl_nitrate'], 
['CATDB', '121#RS06-07_DELLA'], 
['CATDB', '65#RS05-16_KdoT'], 
['CATDB', '82#RS05-14_VDAC1'], 
['CATDB', '76#RA05-10_NRT2.7'], 
['CATDB', '71#RS05-15_Iron_signaling'], 
['CATDB', '80#RS05-13_Hag4'], 
['CATDB', '63#RA05-08_Seaweed'], 
['CATDB', '129#AU07-08_SQE'], 
['CATDB', '120#ADT07-03_miR398-mutants'], 
['CATDB', '92#RA05-09_Urea'], 
['CATDB', '122#AU07-03_MYB77'], 
['CATDB', '114#RA07-02_ABA2'], 
['CATDB', '108#CEA06-02_folate'], 
['CATDB', '53#ADT05-01_Hormon_cells'], 
['CATDB', '116#AFFY_Aba_Ath1'], 
['CATDB', '79#ADT06-01_ESR1-DRN_dexamethasone'], 
['CATDB', '126#RA06-02_StayGreen'], 
['CATDB', '109#RS07-02_npc48'], 
['CATDB', '83#AU06-01_ITEGE'], 
['CATDB', '64#RS05-10_AtrazineII'], 
['CATDB', '50#RS05-06_DGPP'], 
['CATDB', '111#GEN26_DroughtStress'], 
['CATDB', '68#RA05-06_LIF'], 
['CATDB', '160#TRI38-LAR'], 
['CATDB', '162#RS07-08_Gollum'], 
['CATDB', '84#RS05-11_Hypocotyls'], 
['CATDB', '130#AU07-04_VIP1'], 
['CATDB', '91#RS06-04_wat1-1'], 
['CATDB', '118#RA06-05_Potyvirus-Ecotypes'], 
['CATDB', '138#AU07-09_Alternaria'], 
['CATDB', '115#RA07-03_ABA4'], 
['CATDB', '96#RS06-05_Arabinofuranosidase'], 
['CATDB', '142#RS07-06_PLC_cold_plant'], 
['CATDB', '61#AU05-05_Rhodococcus'], 
['CATDB', '147#RA08-01_CPL1'], 
['CATDB', '113#AU07-02_TRV'], 
['CATDB', '145#AU05-03_GABA'], 
['CATDB', '37#RA04-05_NO3-seed-dormancy'], 
['CATDB', '52#RS05-09_Histone-acetylase'], 
['CATDB', '112#AU06-03_TSN_FJ'], 
['CATDB', '148#RA06-04_BOS1'], 
['CATDB', '44#AF13_PLP2'], 
['CATDB', '150#AFFY_CCR_Maize'], 
['CATDB', '151#RS08-01_Met2'], 
['CATDB', '133#AFFY_mildey_vitis'], 
['CATDB', '139#AU07-11_haiku'], 
['CATDB', '184#AFFY_seed_kinetic_Wheat'], 
['CATDB', '165#RS07-07_lpp2'], 
['CATDB', '140#RS07-09_BOU'], 
['CATDB', '159#RS08-03_Glutathion'], 
['CATDB', '123#RS07-04_MIPS'], 
['CATDB', '168#RS08-05_BAC2'], 
['CATDB', '167#RA08-02_Clavata-Ralstonia'], 
['CATDB', '163#AFFY_herbicide_vulpin'], 
['CATDB', '158#AU07-10_mpk'], 
['CATDB', '161#RS08-02_Nad'], 
['CATDB', '125#GnP06-01_AgriArray_PRIVATE'], 
['CATDB', '166#AU08-05_p25Ind'], 
['CATDB', '179#AFFY_H2O2_Medicago'], 
['CATDB', '94#GFE_TRI021_TFL2_PRIVATE'], 
['CATDB', '136#AU07-06_GDH'], 
['CATDB', '35#GFE_ddm1_Col_Ler_PRIVATE'], 
['CATDB', '81#CAGE-06_02_ddm1-VIBchips_PRIVATE'], 
['CATDB', '219#AU09-05_Hd2B_PRIVATE'], 
['CATDB', '90#Gnp06-01_AgriArray01_PRIVATE'], 
['CATDB', '173#AU09-01_mpk_flagellin_PRIVATE'], 
['CATDB', '74#CAGE-06_01_Seed_dev_mutant_PRIVATE'], 
['CATDB', '26#RS04-03_Myb_PRIVATE'], 
['CATDB', '178#AU08-01_Cytb561'], 
['CATDB', '177#ADT09-01_Thellungiella'], 
['CATDB', '152#AFFY_Phloem_ATh1'], 
['CATDB', '182#RA08-03_Kim'], 
['CATDB', '185#ADT05-04_DRN'], 
['CATDB', '183#RS09-01_Det1'], 
['CATDB', '172#AU08-06_mpk6_heat_stressed'], 
['CATDB', '144#AFFY_rewatering_poplar'], 
['CATDB', '186#AU08-04_DFO'], 
['CATDB', '203#RS09-02_Quinolinate'], 
['CATDB', '193#RS09-04_PLC_2'], 
['CATDB', '169#AFFY_ORLEANS_CIRCAD'], 
['CATDB', '202#RS08-04_wat1-Ralstonia'], 
['CATDB', '204#RS09-07_HB6'], 
['CATDB', '196#RS09-06_Silencing-Muntants'], 
['CATDB', '153#AU08-02_mkk1-mkk2'], 
['CATDB', '135#AU07-12_GeminiSelSup'], 
['CATDB', '214#AU09-02_WOX14'], 
['CATDB', '211#AU07-05_Groundworms'], 
['CATDB', '87#ADT06-03_MKK2-cold'], 
['CATDB', '47#AU05-01_P25'], 
['CATDB', '224#AU07-07_Salmonella'], 
['CATDB', '62#ADT04-03_FDH_Drought'], 
['CATDB', '201#ADT06-04_miRNA_Nitrogen'], 
['CATDB', '197#GnP_Blan06_TORPTEN'], 
['CATDB', '194#RS09-08_FIE'], 
['CATDB', '208#RA09-03_SGS'], 
['CATDB', '146#AU06-02_Bzo2h'], 
['CATDB', '229#TAG'], 
['CATDB', '228#RS09-03_ZF1'], 
['CATDB', '209#AU09-04_GeminiSilSup2'], 
['CATDB', '48#RS06-06_miRNA'], 
['CATDB', '248#ADT10-02_35sUPRT'], 
['CATDB', '236#AU10-02_mpk4_salt_PRIVATE'], 
['CATDB', '170#RA09-02_TCTP'], 
['CATDB', '215#RS09-10_FWA'], 
['CATDB', '223#RS09-09_DELLA-dark'], 
['CATDB', '70#GNP3_TRI33-Arabidoseed'], 
['CATDB', '259#RS10-03_IND'], 
['CATDB', '234#AU10-03_hub1'], 
['CATDB', '232#RS10-01_RRM'], 
['CATDB', '239#RA07-01_PRX34'], 
['CATDB', '227#RS10-02_ros_dme'], 
['CATDB', '249#RA10-01_Laccases'], 
['CATDB', '195#GNP07_RILKIT'], 
['CATDB', '269#RA07-05_MYB82'], 
['CATDB', '246#ADT09-02_fireman'], 
['CATDB', '205#GnP06-02_Starch'], 
['CATDB', '255#AU10-07_MPK4gof'], 
['CATDB', '245#AU10-09_GemSupV2TS-7'], 
['CATDB', '264#RS10-04_MAD'], 
['CATDB', '266#CEA10-01_Phosphate'], 
['CATDB', '256#ADT10-01_WIP2'], 
['CATDB', '251#GFE_EPIGENOME_PRIVATE'], 
['CATDB', '260#A2E_Heterosis_PRIVATE'], 
['CATDB', '257#A2E_fie_PRIVATE'], 
['CATDB', '270#AU10-11_DspA'], 
['CATDB', '265#RA10-03_Eliciteur'], 
['CATDB', '289#CEA10-03_Cyclocitral'], 
['CATDB', '225#AU-09-01_mpk_flagellin_edu'], 
['CATDB', '175#ADT08-01_upp'], 
['CATDB', '124#GnP06-03_MicroTrAc'], 
['CATDB', '272#AU10-14_Fer'], 
['CATDB', '271#CEA10-02_Light'], 
['CATDB', '207#BRA-INRA09-01_BIOEN'], 
['CATDB', '282#AU10-13_CellWall'], 
['CATDB', '292#AU10-15_cineroots'], 
['CATDB', '220#AU10-01_overexpressionoxi1'], 
['CATDB', '216#AU09-03_gamma-irradiation'], 
['CATDB', '276#RS11-01_NAD'], 
['CATDB', '262#RS10-06_CDKA'], 
['CATDB', '131#RS07-05_sphingolipids-cold'], 
['CATDB', '100#RS06-06-miRNA_CaMV_treatment'], 
['CATDB', '132#ADT07-02_C-N_Cells'], 
['CATDB', '247#AU10-06_Salmonella'], 
['CATDB', '284#GnP06-01b_AgriArray'], 
['CATDB', '293#RS11-02_Opine'], 
['CATDB', '279#RA10-04_Roots'], 
['CATDB', '59#GEN45-Carpel_development'], 
['CATDB', '18#RS04-04_SKP2_CUL4'], 
['CATDB', '174#TRI33-LEC1'], 
['CATDB', '141#PC_GeBPGPL_transcriptomic-analysis'], 
['CATDB', '187#RA09-01_QTLleafgrowth'], 
['CATDB', '33#RA05-04_Meiocytes'], 
['CATDB', '137#AU07-13_SQE1'], 
['CATDB', '301#AU10-12_PA'], 
['CATDB', '106#PC_ARCOLE'], 
['CATDB', '54#CEA05-01_carbonic-anhydrase'], 
['CATDB', '86#RS06-03_Cd-miRNA'], 
['CATDB', '117#ADT07-01_miRNA-N'], 
['CATDB', '273#AU11-01_WOX14bis'], 
['CATDB', '128#RS07-03_APC'], 
['CATDB', '291#AU10-10_Cold'], 
['CATDB', '280#RS10-05_TCV'], 
['CATDB', '278#Gnp07_Regeneome_cuc2'], 
['CATDB', '277#Gnp07_Regeneome_transdifferentiation'], 
['CATDB', '299#RA11-01_prgh'], 
['CATDB', '296#RA11-04_QTL'], 
['CATDB', '241#AFFY_AMs_MAIZE'], 
['CATDB', '226#AFFY_genomic_Poplar'], 
['CATDB', '200#AFFY_MeJA_Arabidopsis'], 
['CATDB', '149#AFFY_POPSEC_Nancy_Leaves_poplar'], 
['CATDB', '268#AFFY_RNAI_CADpoplar'], 
['CATDB', '180#AFFY_POPSEC_Nancy_Stomata_poplar'], 
['CATDB', '154#AFFY_POPSEC_Nancy_Roots_poplar'], 
['CATDB', '253#AFFY_L2BCTV_Ath'], 
['CATDB', '290#AU11-03_Gravite'], 
['CATDB', '206#AFFY_EN-TJ_Maize'], 
['CATDB', '212#AFFY_pathogen_Medicago'], 
['CATDB', '155#AFFY_floralAngers_Rose'], 
['CATDB', '190#AFFY_PetalDvt_Lyon_Rose'], 
['CATDB', '258#AFFY_Cellwall_Maize'], 
['CATDB', '250#AFFY_Diversity_Maize'], 
['CATDB', '222#AFFY_FSH_Human'], 
['CATDB', '199#AFFY_Ralstonia_Medicago'], 
['CATDB', '240#AFFY_Ralstonia_Peeters_Medicago'], 
['CATDB', '210#AFFY_Xoo_Rice'], 
['CATDB', '198#AFFY_hypocTemp_Medicago'], 
['CATDB', '230#AFFY_meloidogyne_rice'], 
['CATDB', '188#AFFY_AGRO-BI_Medicago'], 
['CATDB', '191#AFFY_cinetique_Lyon_Rose'], 
['CATDB', '238#AFFY_syringae_Malaga_Athaliana'], 
['CATDB', '298#AU11-02_CHO-THF'], 
['CATDB', '297#FAPESP-BRA-INRA-10-01_BIOEN_hypocotyl'], 
['CATDB', '314#RA11-07_miRNA'], 
['CATDB', '320#RA10-02_Viromouv'], 
['CATDB', '312#RS11-11_Myb52'], 
['CATDB', '300#RS11-09_Meotic'], 
['CATDB', '315#CEA12-01_Phosphatin2-roots'], 
['CATDB', '213#BLAN08_RNApaths'], 
['CATDB', '233#BRA-INRA09-02_BIOEN_Nitrogen'], 
['CATDB', '244#Gnp07_Regeneome_microdissectionbias'], 
['CATDB', '66#GEN107_PTGS_PRIVATE'], 
['CATDB', '286#AU10-04_phytoremediation'], 
['CATDB', '338#RA12-03_Raptor-NaCl'], 
['CATDB', '339#AU12-01_Detox'], 
['CATDB', '307#AFFY_POP_2011_08'], 
['CATDB', '243#Gnp07_Regeneome_embryogenesis'], 
['CATDB', '328#AFFY_MED_2011_14'], 
['CATDB', '319#RS12-02_flg22'], 
['CATDB', '340#RS11-08_NAD2'], 
['CATDB', '318#AU12-04_BAF'], 
['CATDB', '285#AFFY_Rice_2011_03'], 
['CATDB', '310#AFFY_MED_2011_09'], 
['CATDB', '306#AFFY_COTTON_2011_12'], 
['CATDB', '324#AFFY_ATH_2012_04'], 
['CATDB', '326#AFFY_ATH_2012_05'], 
['CATDB', '354#RS11-03_Agro'], 
['CATDB', '332#AFFY_SUNFLOWER_2011_02'], 
['CATDB', '347#RA12-08_mir775'], 
['CATDB', '345#RS12-01_URT1_seedling'], 
['CATDB', '294#AFFY_SUNFLOWER_2010_13'], 
['CATDB', '325#AFFY_MED_2012_03'], 
['CATDB', '331#AFFY_ROSE_2012_06'], 
['CATDB', '353#12plex_vitis_2012_04'], 
['CATDB', '365#RA13-04_Acclim'], 
['CATDB', '343#AFFY_RICE_2012_01'], 
['CATDB', '358#12plex_medicago_2013-06'], 
['CATDB', '357#12plex_medicago_2012-03'], 
['CATDB', '342#AU12-03_CDT1'], 
['CATDB', '231#AFFY_Meloidogyne_rice2'], 
['CATDB', '336#12plex_medicago-2013-07'], 
['CATDB', '359#AU13-09_HDT2'], 
['CATDB', '313#Blanc-08-01_2012_01_RNAPATHs_nsr'], 
['CATDB', '334#RS12-08_cyp715A1'], 
['CATDB', '295#CAT-seq'], 
['CATDB', '317#RS12-03_Complex-I'], 
['CATDB', '316#ADT12-01_UPRT'], 
['CATDB', '362#AU13-11_Gravity'], 
['CATDB', '309#Blanc-08-01_2012_01_RNAPATHs_03'], 
['CATDB', '349#TIL-Ath-2011_3'], 
['CATDB', '351#AU13-01_PI-PLC'], 
['CATDB', '311#RS11-10_URT1'], 
['CATDB', '308#CEA11-02_Phosphatin'], 
['CATDB', '344#RA12-05_mut_flg_II'], 
['CATDB', '181#AFFY_POPSEC_Nancy_POPHYDRO_Roots_poplar'], 
['CATDB', '350#AU12-06_CPSF30'], 
['CATDB', '337#RA12-06_myb118'], 
['CATDB', '333#RS12-07_PNM1'], 
['CATDB', '348#AU13-04_crl'], 
['CATDB', '361#RA13-03_PYO'], 
['CATDB', '369#NGS2012_01_MEIO'], 
['CATDB', '366#AU13-12_Polysome'], 
['CATDB', '360#CEA13-01_oxi1'], 
['CATDB', '368#NGS2013_14_RNAdapt'], 
['CATDB', '341#CEA12-02_ChloroSap'], 
['CATDB', '335#RA12-01_mut_flg'], 
['CATDB', '367#NGS2013_10_RTL_MRNA\t\t\t\t'], 
['CATDB', '355#AU13-06_FIT'], 
['CATDB', '373#12plex_medicago_2013-08'], 
['CATDB', '381#AU13-15_sup62'], 
['CATDB', '322#AU12-02_DEX-TAp46'], 
['CATDB', '372#4PLEX_TOMATO_2013_03'], 
['CATDB', '391#AU14-07_CLOCK'], 
['CATDB', '378#12PLEX_PEA_2013_03'], 
['CATDB', '375#BIOADAPT_NoStressWall_2011'], 
['CATDB', '393#NGS2014_02_organelles'], 
['CATDB', '385#NGS2013_04_Nod'], 
['CATDB', '394#NGS2014_14_LeafNet'], 
['CATDB', '410#NGS2014_27_Topo6'], 
['CATDB', '395#NGS2013_19_OPT90'], 
['CATDB', '364#12PLEX_MED_2013_04'], 
['CATDB', '376#AU13-08_AtpPLAII-alpha'], 
['CATDB', '377#RA14-02_mkk3-ABA'], 
['CATDB', '382#RA14-04_nced'], 
['CATDB', '398#RA15-04_ELIM1'], 
['CATDB', '407#AU15-01_IRON-FIT'], 
['CATDB', '330#RA12-02_ABA-seed'], 
['CATDB', '400#AU15-04_Xeno'], 
['CATDB', '275#AFFY_ZeaWall_RIL2_MAIZE'], 
['CATDB', '412#AU14-03_BIGUN'], 
['CATDB', '379#AU13-14_MYB1'], 
['CATDB', '387#AU14-08_xrn_vcs'], 
['CATDB', '415#12plex_poplar_2012-01'], 
['CATDB', '392#NGS2014_10_Epsilon'], 
['CATDB', '383#AU14-04_INASEED'], 
['CATDB', '386#AU14-11_Levure'], 
['CATDB', '384#AU14-05_pi4kbeta1beta2'], 
['CATDB', '323#AFFY_MED_2011_10'], 
['CATDB', '281#AFFY_MED_2011_04'], 
['CATDB', '419#NGS2016_08_DYW2'], 
['CATDB', '303#AFFY_TOUR_2010_21'], 
['CATDB', '267#AFFY_Strigolactone_Sunflower'], 
['CATDB', '305#AFFY_MED_2011_06'], 
['CATDB', '329#AFFY_BRACHY_2011_11'], 
['CATDB', '321#AFFY_TOUR_2012-02'], 
['CATDB', '261#AFFY_Sunyfuel_drought_Sunflower'], 
['CATDB', '389#RS14-01_Mitomanip2'], 
['CATDB', '390#RS11-07_Opine2'], 
['CATDB', '263#AFFY_MED_2010_12'], 
['CATDB', '192#AFFY_duplicature_Lyon_Rose'], 
['CATDB', '288#AFFY_RICE_2011_07'], 
['CATDB', '399#RA15-06_OXMYC4'], 
['CATDB', '221#AFFY_Aphanomyces_Medicago'], 
['CATDB', '235#AFFY_ZeaWall_RIL_Maize'], 
['CATDB', '397#AU14-10_WD40'], 
['CATDB', '405#AU14-09_Silice'], 
['CATDB', '380#AU14-01_Tn'], 
['CATDB', '416#AU13-07_Ox'], 
['CATDB', '396#RA15-01_MYB92'], 
['CATDB', '408#AU15-02_TRX'], 
['CATDB', '401#RA15-07_BurxCol_465'], 
['CATDB', '403#RA16-01_MKK3_wounding'], 
['CATDB', '421#NGS2012_02_MicroD'], 
['CATDB', '374#12PLEX_PEA_2013_02'], 
['CATDB', '356#12plex_vitis_2011-02'], 
['CATDB', '402#RA14-05_Multipass'], 
['CATDB', '404#AU15-05_FIT'], 
['CATDB', '406#4plex_Physco_2014-05'], 
['CATDB', '422#NGS2014_01_MicroD'], 
['CATDB', '424#NGS2014_07_Hevea'], 
['CATDB', '352#12PLEX_WHEAT_2012-05'], 
['CATDB', '414#NGS2015_14_VitisDisease'], 
['CATDB', '425#NGS2013_13_Alien'], 
['CATDB', '283#AFFY_eQTL_Sunflower'], 
['CATDB', '237#AFFY_ABA_Sunflower'], 
['CATDB', '242#AFFY_gnp07_Regeneome_cotton'], 
['CATDB', '189#AFFY_root-dvt-Nitrogen_Medicago'], 
['CATDB', '254#AFFY_Mildew_Sunflower'], 
['CATDB', '287#AFFY_virulent and avirulent xoostrains_Rice'], 
['CATDB', '143#AFFY_POPSEC_Orleans_Poplar'], 
['CATDB', '363#AFFY_MED_2013_05'], 
['CATDB', '409#NGS2015_05_HIGH_TEMPERATURE_ROOT'], 
['CATDB', '430#NGS2016_01_LEAFNET3'], 
['CATDB', '418#AU16-02_Dgk5'], 
['CATDB', '428#NGS2017_01_nuc'], 
['CATDB', '346#12plex_medicago-2012-06'], 
['CATDB', '370#GnP10-01_GENOPEA'], 
['CATDB', '411#4plex_MAIZE_2015_02'], 
['CATDB', '448#RA16-04_3WD40'], 
['CATDB', '446#NGS2014_25_CIVB'], 
['CATDB', '371#RS13_01_LAO'], 
['CATDB', '451#12plex_medicago_2014_02'], 
['CATDB', '449#RA15-03_OXPMT7-7'], 
['CATDB', '452#AU13-03_CUC2'], 
['CATDB', '444#4PLEX_PEA_2014_01'], 
['CATDB', '442#AU11_04_Benzene'], 
['CATDB', '423#RA16-03_ROTENONE'], 
['CATDB', '432#NGS2015_12_ZeaWall2'], 
['CATDB', '420#NGS2014_21_SeedCom'], 
['CATDB', '431#NGS2016_16_PATHO'], 
['CATDB', '459#RS12-06_A9-MrNonPolyA'], 
['CATDB', '455#AU17-01_Dgk5.1_bis'], 
['CATDB', '457#RS13-02_Mitomanip'], 
['CATDB', '458#RS12-04_RNAnonPolyA'], 
['CATDB', '447#NGS2017_10_cpk5_6'], 
['CATDB', '435#AAP_BAP_NitroPath_2014'], 
['CATDB', '454#4PLEX_TOMATO_2015_01'], 
['CATDB', '445#4PLEX_BRACHY_2016_01'], 
['CATDB', '417#AU16-01_ISO'], 
['CATDB', '436#NGS2016_10_Dormancy'], 
['CATDB', '453#4PLEX_TOMATO_2014_06'], 
['CATDB', '427#NGS2015_01_Transition'], 
['CATDB', '450#NGS2017_08_Brasilice'], 
['CATDB', '443#4plex_Brassica_2015_04'], 
['CATDB', '439#4PLEX_BARLEY_2017_01'], 
['CATDB', '426#NGS2017_09_MOSS1'], 
['CATDB', '413#JC2013_SYBIOPOP_2014'], 
['CATDB', '440#NGS2015_06_ASCO'], 
['CATDB', '441#NGS2016_16_PPR_PATHO_DEPLETION_RIBOZERO'], 
['CATDB', '429#NGS2016_09_ABOLIS'], 
['CATDB', '434#NGS2017_03_AAP-Starter_BAP_EK-XYL'], 
['CATDB', '433#NGS2016_11_Orchidee'], 
['CATDB', '438#NGS2017_11_ROSEX2'], 
['CATDB', '437#NGS2018_05_TOR'], 
['CATDB', '460#ANR-JC-BRAVO'], 
['CATDB', '456#NGS2018_06_MindTheGap'], 
        ]
    }]
});

</script>



{% endblock %}
