{% extends "CATdb/home.html" %}
{% block content %}
{% load staticfiles %}

<style>
.graph_comment,.comment_graph{
    border: aquamarine;
    background: #b6a6a6;
    text-align: center;
    border-left: 5px solid #007bff;
    border-right: 5px solid #007bff;
}
</style>
<div class="graph_comment"> Oragns :{{titre_graph}} </div>
{{count_organ|safe}}
<div class="graph_comment"> Treatment :{{titre_graph}} </div>
{{show_treatment|safe}}


<div class="graph_comment"> Ecotype cross Organism by project:{{titre_graph}} </div>
{{show_ecotype|safe}}



<div class="graph_comment"> Experiment Factors cross by project:{{titre_graph}} </div>
{{show_experiment_factors|safe}}

<div class="graph_comment"> Experiment Type cross by project:{{titre_graph}} </div>
{{show_experiment_type|safe}}


 {% endblock %}
